name: Sample python gitaction for pytest
on:
    workflow_dispatch: 
        inputs:
          env:
            description: "Target environment"
            required: true
            default: "qa"
          test_type:
            description: "Type of tests"
            required: true
            default: "smoke"
            type: choice
            options:
              - Smoke
              - QA
          branches:
            description: "Branches"
            required: true
            default: "main"
jobs:
    build:
        runs-on: [ ubuntu-latest ]
        env:
            ENV: STAGING
        steps:
          - name: checking out the app code
            uses: actions/checkout@v4
            with:
              ref: ${{ inputs.branches }}
          - name: Building the app
            run: echo "Building app is done on ${{ inputs.branches }}"
    test:
        runs-on: [ ubuntu-latest ]
        needs: [ build ]
        steps:
            - name: checking out the app code
              uses: actions/checkout@v4
            - name: Installing required software
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            - name: Installing dependencies
              run: |
                python -m pip install --upgrade pip
                pip install pip-tools
                pip-compile requirements.in
                pip install -r requirements.txt

            - name: Running the test code
              run: |
                echo "Test code is running"
                pytest
    deploy:
        runs-on: [ ubuntu-latest ]
        needs: [ build, test ]
        steps:
            - name: Running the deployment part
              run: echo "Deploying the app on kubernetes"   