name: Sample python gitaction for pytest
on:
    push: 
        branches: [ main ]
jobs:
    build:
        runs-on: [ ubuntu-latest ]
        env:
            ENV: STAGING
        steps:
          - name: checking out the app code
            uses: actions/checkout@v4
          - name: Building the app
            run: echo "Building app is done on $ENV"
    test:
        runs-on: [ ubuntu-latest ]
        needs: [ build ]
        steps:
            - name: Installing required software
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            - name: Installing dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Running the test code
              run: |
                echo "Test code is running"
                pytest
    deploy:
        runs-on: [ ubuntu-latest ]
        needs: [ build, test ]
        steps:
            - name: Running the deployment part
              run: echo "Deploying the app on kubernetes"   