name: Gitactions Learning Curve
on:
    push:
        branches: [ main ]
jobs:
    build:
        if: github.ref == 'refs/heads/main' && startsWith(github.actor, 'manjeet')
        outputs:
            build_status: ${{steps.build_s.outputs.status}}
        runs-on: [ ubuntu-server ]
        steps:
            - name: Checking out repo code
              uses: actions/checkout@v4
              with:
                ref: main
            - name: Download required softwares
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            - name: Checking the build status
              id: build_s
              run: |
                    echo "status=GREEN" >> $GITHUB_OUTPUT
    test:
        runs-on: [ ubuntu-server ]
        needs: [ build ]
        if: needs.build.result == 'success' && needs.build.outputs.build_status == 'GREEN'
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest ]
                browsers: [ chrome, firefox ]
        steps:
            - name: Checking out the code
              uses: actions/checkout@v4
              with:
                ref: main
            - name: Running Test code
              run: echo "Running the Test code"
            - name: Updating result on Slack or Collab tools
              run: echo "Updated necessary channels"
    deploy:
        runs-on: [ ubuntu-server ]
        needs: [ build, test ]
        if: needs.test.result == 'success'
        steps:
            - name: Deploying the code on Staging env
              id: BStage
              run: |
                echo " ** Deployed on Staging **"
                echo "status=Pass" >> $GITHUB_OUTPUT
            - name: Deploying the code on Prod env
              if: steps.BStage.outputs.status == 'Pass'
              run: echo " ** Deployed on Prod env **"
            


