name: Gitactions Learning Curve
on:
    pull_request:
        branches: [ main ]
permissions:
    contents: read
jobs:
    build:        
        environment: Staging
        timeout-minutes: 3
        if: github.event.pull_request.base.ref == 'main' && startsWith(github.actor, 'manjeet')
        outputs:
            build_status: ${{steps.build_s.outputs.status}}
        runs-on: [ ubuntu-latest ]       
        steps:
            - name: Checking out repo code from the link
              uses: actions/checkout@v4
              with:
                ref: main
            - name: Download required softwares
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'    
            - name: Checking the build status
              env:
                NAME: ${{secrets.OWNED_BY}}
                URL: ${{ secrets.URL }}
              id: build_s
              run: |
                    echo "status=GREEN" >> $GITHUB_OUTPUT
                    echo $NAME                    
    test:       
        needs: [ build ]
        if: needs.build.result == 'success' && needs.build.outputs.build_status == 'GREEN'
        strategy:
            matrix:
                os: [ ubuntu-latest, windows-latest ]
                browsers: [ chrome, firefox ]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checking out the code
              uses: actions/checkout@v4
              with:
                ref: main
            - name: installing python
              uses: actions/setup-python@v5
              with:
                python-version: '3.11'
            - name: caching creation for required softwares
              uses: actions/cache@v4
              with:
                path: |
                        ~\AppData\Local\pip\Cache
                        ~/.cache/pip
                key: pip-${{runner.os}}-${{hashFiles('requirements.txt')}}
            - name: Installing other softwares
              run: |
                    pip install -r requirements.txt
                    pwd
                    mkdir results
                    cd results
                    echo "Manjeet Singh" > file-${{matrix.os}}-${{matrix.browsers}}.txt
            - name: Running Test code
              run: echo "Running the Test code"
            - name: Updating result on Slack or Collab tools
              run: echo "Updated necessary channels"
            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                name: file-${{matrix.os}}-${{matrix.browsers}}
                path: results/
    deploy:
        runs-on: [ ubuntu-latest ]
        needs: [ build, test ]
        permissions:
            contents: read
            pull-requests: write

        if: needs.test.result == 'success'
        steps:
            - name: Deploying the code on Staging env
              id: BStage
              run: |
                echo " ** Deployed on Staging **"
                echo "status=Pass" >> $GITHUB_OUTPUT
            - name: Deploying the code on Prod env
              if: steps.BStage.outputs.status == 'Pass'
              run: echo " ** Deployed on Prod env **"
            - name: Adding comments on a PR
              uses: actions/github-script@v7
              with:
                script: |
                          await github.rest.issues.createComment({
                            owner: context.repo.owner,
                            repo: context.repo.repo,
                            issue_number: context.payload.pull_request.number,
                            body: "PR reviewed and merged scuccessfully. Deployement done" 
                          });